<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Incoming Information Requestion from <%= @quote.name %> over at <%= @quote.company %>! 
	</p>
	Name: <%= @quote.name %><br>
	Company: <%= @quote.company %><br>
	Email: <%= mail_to @quote.email %><br>
	Phone: <%= @quote.phone %>
    </p>
    <% if !@quote.message.blank? %>
      <pMessage: </p>
      <p><em><%= @quote.message %></em></p>
    <% end %>
    <ul>
      Their box needs...
      <li>Current Packaging: <%= @quote.type_box %> in</li>
      <li>Length: <strong><%= @quote.length %> in</strong></li>
      <li>Width: <strong><%= @quote.width %> in</strong></li>
      <li>Height: <strong><%= @quote.height %> in</strong></li>
      <li>Number shipped per year: <strong><%= @quote.quantity %></strong></li>
    </ul>
  </body>
</html>