<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      New Quote incoming from <%= @quote.name %> over at <%= @quote.company %>! Give them a call at <%= @quote.phone %> or email <%= mail_to @quote.email %>.
    </p>
    <% if !@quote.message.blank? %>
      <p><%= @quote.name %> had this to say concerning their quote:</p>
      <p><em><%= @quote.message %></em></p>
    <% end %>
    <ul>
      Their box needs...
      <li>Type: <%= @quote.type_box %> in</li>
      <li>Length: <strong><%= @quote.length %> in</strong></li>
      <li>Width: <strong><%= @quote.width %> in</strong></li>
      <li>Height: <strong><%= @quote.height %> in</strong></li>
      <li>Quantity: <strong><%= @quote.quantity %></strong></li>
    </ul>
  </body>
</html>