<div class='tab-pane fade' id='roi'>
  <div class='row'>
    <div class="col-md-3 col-md-offset-1 well">
      <table class="table table-hover">
        <thead><h2>Cost Overview</h2></thead>
        <tbody>
          <tr><td><strong>Yearly</strong></td></tr>
          <tr><td>Savings: <%= @percent %>% over cardboard</td></tr>
          <tr><td>ERB Costs: <%= number_to_currency(@yearly, precision: 0) %></td></tr>
          <tr><td>Cardboard Costs: <%= number_to_currency(@yearly_cb, precision: 0) %></td></tr>
          <tr><td><strong>Totals</strong></td></tr>
          <tr><td>Member since: <%= @since.strftime('%B %Y') %></td></tr>
          <tr><td>ERB Cost: <%= number_to_currency(@cost, precision: 0) %></td></tr>
          <tr><td>Cardboard Cost: <%= number_to_currency(@paper_cost, precision: 0) %></td></tr>
          <tr><td>Total Savings: <%= number_to_currency(@roi, precision: 0) %></td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <strong>Cost Savings by switching to Eco ReBox</strong>
      <br/><br/>
      <div id="placeholder" style="width:575px;height:300px;"></div>
      <p id='plotV'></p>

      <script type="text/javascript">
        $(function () {
          var erb = <%= @purchase_array %>;
          var cb = [[<%= @since.to_time.to_i %>000, 0],
                    [<%= Date.today.to_time.to_i %>000, <%= @paper_cost %>]]
          $.plot($("#placeholder"), 
            [ { data: erb, label: "Eco ReBox Cost", lines: {steps: true}, color: "#ccc" }, 
              { data: cb, label: "Savings over Cardboard", color: "#b8d18f" } ], {
            yaxis: {
              tickFormatter: function (v, axis) { 
                return '$' + v
              },
              labelWidth: 60,
              labelHeight: 20,
              reserveSpace: true
            },
            xaxis: {
              mode: "time",
              timeformat: "%m/%Y",
              minTickSize: [1, "month"],
              min: (new Date(<%= @since.strftime('%Y,%m,%d') %>)).getTime(),
              max: (new Date()).getTime()
            },
            grid: {
              backgroundColor: { colors: ["#fff", "#eee"] }
            },
            legend: { 
              position: 'nw' 
            }
          });
        });
      </script>
    </div>
  </div>
</div>