<% provide(:title, "Edit user") %>
<div class='headercontent'>
  <h1>Update your profile</h1>
  <div class="row">
    <div class="span6">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <% if current_user.admin? %>
          User is an Admin? 
          <% if @user.admin %>
            <%= f.check_box :admin, checked: true %>
          <% else %>
            <%= f.check_box :admin %>
          <% end %>
          <%= f.label :company_id %>
          <%= f.collection_select :company_id, Company.all, :id, :name,
                                      {include_blank: true}, {} %>
        <% end %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
        <br/>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.dropdown.sixth').addClass('active');
</script>    