<% provide(:title, "Edit user") %>
<div class="jumbotron">
  <div class="container">
    <h1>Update your profile</h1>
  </div>
</div>
<div class='container'>
<%= form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='form-group'>
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class='col-sm-5'>
      <%= f.text_field :name, class: 'form-control' %>
      <% if admin? %>
        <div class="checkbox">
          <label>
            <%= f.check_box :admin %> User is an Admin?
          </label>
        </div>
      <% end %>
      <div class="checkbox">
        <label>
          <%= f.check_box :subscribe %> Subscribe to Updates
        </label>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :company_id, class: 'col-sm-2 control-label' %>
    <div class='col-sm-5'>
      <%= f.collection_select :company_id, Company.all, :id, :name,
                                    {include_blank: true}, {class: 'form-control'} %>
    </div>
  </div>
  <div class='form-group'>                                  
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class='col-sm-5'>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :password, class: 'col-sm-2 control-label' %>
    <div class='col-sm-5'>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :password_confirmation, "Confirm Password", class: 'col-sm-2 control-label' %>
    <div class='col-sm-5'>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-offset-2 col-sm-5'>
      <%= f.submit "Update User!", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $('.dropdown.sixth').addClass('active');
</script>    