<strong class='uid'><%= box.uid %></strong> | 
<span class='dimensions'><%= box.length %>in x <%= box.width %>in x 
                         <%= box.height %>in</span> | 
<span class='weight'><%= box.weight %>lbs</span> | 
<span class='trips'><%= pluralize(box.trips, "trip") %></span>
<br/>