<%= form_for(@box) do |f| %>
<div class='row'>
  <div class='span6'>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :company_id %>
    <%= f.collection_select :company_id, @companies, :id, :name,
                            {selected: @selected_company}, {} %>

    <%= f.label :uid, 'Box ID' %>
    <%= f.text_field :uid %>

    <%= f.label :cost, 'Cost per box' %>
    <%= f.text_field :cost %>

    <%= f.label :cb_cost, 'Cost of comparable cardboard box' %>
    <%= f.text_field :cb_cost %>

    <%= f.label :frequency, 'Shipments per month' %>
    <%= f.text_field :frequency %>

    <%= f.label :active %>
    <%= f.check_box :active, {}, true, false %>
  </div>
  <div class='span6'>
    <%= f.label :length %>
    <%= f.text_field :length %>

    <%= f.label :width %>
    <%= f.text_field :width %>

    <%= f.label :height %>
    <%= f.text_field :height %>

    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <br/>
    <br/>
    <%= f.submit 'Add Box', class: "btn btn-large btn-primary" %>
  </div>
</div>
  

<% end %>
