<% provide(:title, @box.uid) %>
<div class='headercontent'>
  <div class="hero-unit">
    <h1>Box <%= @box.uid %></h1>
    <p>ReThink. ReStore. ReUse.</p>
  </div>
  <h3>Box properties</h3>
    <p><%= @box.length %>in x <%= @box.width %>in x <%= @box.height %>in and <%= @box.weight %>lbs</p>
  <h3>Status</h3>
    <p><%= @box.in %> total purchased</p>
    <p><%= @box.in - @box.out %> currently in rotation</p>
  <h3>Do you have one of these boxes?</h3>
  <p>Help that box along, so it can find its way home. [link to something witty]</p>
</div>