<tr class='row0'>
  <%= form_for @order do |f| %>
    <%= f.fields_for :order_details, child_index: @ci do |d| %>
      <td><%= d.collection_select :box_id, @boxes, :id, :uid, {},
                                  {class: 'form-control'} %></td>
      <td><%= d.text_field :quantity, class: 'form-control' %></td>
      <td><%= d.text_field :box_price, class: 'form-control' %></td>
      <td><%= d.text_field :cb_price, class: 'form-control' %></td>
      <td><%= d.text_field :mould_fees, class: 'form-control' %></td>
      <td>$$$</td>
    <% end %>
  <% end %>
</tr>
<tr class='box0'>
  <td colspan="6">&#8594; <b><%= @b.uid %></b> | length: <%= @b.length %> | width: <%= @b.width %> | height: <%= @b.height %> | weight: <%= @b.weight %></td>
</tr>
