<div style="background-color:rgba(255,255,255,0.5);">
<h3>Sign Up For Updates</h3>
<%= form_for Mailing.new, html: {role: 'form'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Your Name' %><br/>
  <%= f.text_field :email, class: 'form-control', placeholder: 'Enter Your Email Address' %><br/>
	<%= text_field_tag :email_confirm, nil, class: 'form-control', placeholder: 'Confirm Email Address' %><br/>
	<%= f.submit 'Sign Me Up!', class: 'btn btn-default' %>
<% end %>
</div>

<h3>Instagram</h3>
<iframe src="http://www.intagme.com/in/?u=ZWNvcmVib3h8aW58MTIwfDJ8Mnx8eWVzfDV8dW5kZWZpbmVk" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:270px; height: 270px" ></iframe>

<h3>Facebook</h3>
<div class="fb-like-box" data-href="http://www.facebook.com/ecoreboxllc" data-width="235" data-height="340" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>

