<div class="well">
	<h3>Quick calculator</h3>
	<small>Using Eco ReBox for your packaging needs can help you save money. Here's a quick estimate of how.</small>
  <br/><br/>
  <%= form_tag calc_path, role: 'form', remote: true do %>
    <div class="form-group">
      <%= label_tag :boxes, 'Shipments per Week' %>
      <%= text_field_tag :boxes, nil, class: 'form-control input-sm', placeholder: 'Boxes shipped per week' %>
      <span class='help-block'><small>How many packages do you ship weekly? Ex. <em>100</em> for 100 boxes</small></span>
    </div>
    <div class="form-group">
      <%= label_tag :size, 'Approximate Box Size' %>
      <%= select_tag :size, options_for_select([['SM box for a mobile phone', 1], ['MED box for a tablet or laptop', 2], ['LG box for a home office printer', 3], ['XL box for a big flat panel TV', 4]]), class: 'form-control input-sm' %>
      <span class='help-block'><small>Sizes are approximate and for demonstration only. Boxes may have any application.</small></span>
    </div>
    <div class="form-group">
      <%= label_tag :shipments, 'Turnaround Time' %>
      <%= text_field_tag :shipments, nil, class: 'form-control input-sm', placeholder: 'Turnaround in days' %>
      <span class='help-block'><small>How long does it take to receive a package back from a customer? Ex. <em>14</em> for two weeks</small></span>
    </div>
    <%= submit_tag 'Calculate Savings', class: 'btn btn-default' %>
  <% end %>
  <br/>
  <div id='quick_calc'></div>
</div>

<div class="well">
  <h3>Sign Up For Updates</h3>
  <%= form_for Mailing.new, html: {role: 'form'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Your Name' %><br/>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Enter Your Email Address' %><br/>
  	<%= text_field_tag :email_confirm, nil, class: 'form-control', placeholder: 'Confirm Email Address' %><br/>
  	<%= f.submit 'Sign Me Up!', class: 'btn btn-default' %>
  <% end %>
</div>

<h3>Instagram</h3>
<iframe src="http://www.intagme.com/in/?u=ZWNvcmVib3h8aW58MTIwfDJ8Mnx8eWVzfDV8dW5kZWZpbmVk" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:270px; height: 270px" ></iframe>

<h3>Facebook</h3>
<div class="fb-like-box" data-href="http://www.facebook.com/ecoreboxllc" data-width="235" data-height="340" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>

