<% provide(:title, 'Contact') %>
<div class="jumbotron">
  <div class="container">
    <h1>Contact</h1>
    <p>Contact Eco ReBox.</p>
  </div>
</div>
<div class="container get_quote">
  <strong>Eco ReBox, LLC.</strong><br/>
  3241 Cabrillo Mesa Drive <br/>
  San Diego, California 92123<br/><br/>
  <p class="lead">
    Questions? Comments?<br/>
    877-REBOX-IT<br/>
    +1 858.571.3638
  </p>
  <h3>Consumer Support</h3>
  <p>If you're an end user or consumer using Eco ReBox products, please contact the Consumer Support Department at <%= mail_to "consumersupport@ecorebox.com" %>.</p>
  <h3>Retail Support</h3>
  <p>
    Our support group can help with retail support questions. If you're a retailer using our products, or a retail manager that would like support on tracking, scanning, or registering your Eco ReBox product, please contact <%= mail_to "retailsupport@ecorebox.com" %>.
  </p>
  <div class="row well">
    <h2>Information Request Form</h2>
    <%= form_for @quote, html:{class: 'form-horizontal', role: 'form'} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="col-sm-6">
        <h3 class='col-sm-offset-4'>Company Information</h3>
        <div class='form-group'>  
          <%= f.label :name, class: 'col-sm-4 control-label' %>
          <div class='col-sm-8'>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class='form-group'>  
          <%= f.label :company, class: 'col-sm-4 control-label' %>
          <div class='col-sm-8'>
            <%= f.text_field :company, class: 'form-control' %>
          </div>
        </div>
        <div class='form-group'>  
          <%= f.label :email, class: 'col-sm-4 control-label' %>
          <div class='col-sm-8'>
            <%= f.text_field :email, class: 'form-control' %>
            <div class="checkbox">
              <label>
                <%= check_box_tag :subscribe, true, true %> Subscribe to Updates
              </label>
            </div>
          </div>
        </div>
        
        <div class='form-group'>  
          <%= f.label :phone, class: 'col-sm-4 control-label' %>
          <div class='col-sm-8'>
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
        </div>
        <div class='form-group'>  
          <%= f.label :message, class: 'col-sm-4 control-label' %>
          <div class='col-sm-8'>
            <%= f.text_area :message, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3 class='col-sm-offset-3'>Packaging Information</h3>
        <div class='form-group'>  
          <%= f.label :type_box, class: 'col-sm-3 control-label' %>
          <div class='col-sm-4'>
            <%= f.text_field :type_box, class: 'form-control' %>
          </div>
        </div>
        <div class='form-group'>  
          <%= f.label :length, class: 'col-sm-3 control-label' %>
          <div class='col-sm-4'>
            <%= f.text_field :length, class: 'form-control' %>
          </div>
        </div>
        <div class='form-group'>  
          <%= f.label :width, class: 'col-sm-3 control-label' %>
          <div class='col-sm-4'>
            <%= f.text_field :width, class: 'form-control' %>
          </div>
        </div>
        <div class='form-group'>  
          <%= f.label :height, class: 'col-sm-3 control-label' %>
          <div class='col-sm-4'>
            <%= f.text_field :height, class: 'form-control' %>
          </div>
        </div>
        <div class='form-group'>  
          <%= f.label :quantity, class: 'col-sm-3 control-label' %>
          <div class='col-sm-4'>
            <%= f.text_field :quantity, class: 'form-control' %>
          </div>
        </div>
        <div class='form-group'>  
          <div class='col-sm-4 col-sm-offset-3'>
            <%= f.submit 'Submit Information Request', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $('.nav-pills li a.fifth').addClass('active');
</script>    