<% provide(:title, 'Welcome!') %>
<%= content_for :carousel do %>
<!-- Carousel
================================================== -->
<div id="myCarouselHome" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarouselHome" data-slide-to="0" class="active"></li>
    <li data-target="#myCarouselHome" data-slide-to="1"></li>
    <li data-target="#myCarouselHome" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'slide_01.jpg', alt: 'slide 01' %>

      <div class="carousel-caption">
        <h1>It's the green box.</h1>
        <p class="lead">Eco ReBox is the leading manufacturer of green, reusable shipping materials for the packaging industry.</p>
        <%= link_to 'What People Are Saying', testimonials_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slide_02.jpg', alt: 'slide 02' %>

      <div class="carousel-caption">
        <h1>Our Method.</h1>
        <p class="lead">Our patent-pending methodology is a proven method of tracking, shipping, and reclaiming products for reuse and recycling, creating better business to customer relationships and a sustainable shipping ecosystem.</p>
        <%= link_to 'Learn More', reuse_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slide_03.jpg', alt: 'slide 03' %>

      <div class="carousel-caption">
        <h1>Rethink. Restore. Reuse.</h1>
        <p class="lead">Eco ReBox is the logistics industry leader with forward-thinking packaging, shipping and logistics solutions that influence the sustainability agenda.</p>
        <%= link_to 'Learn More', about_path, class: 'btn btn-large btn-primary' %>
      </div>
    </div>
  </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarouselHome" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarouselHome" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div><!-- /.carousel -->
<% end %>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
	<div id="contactus" align="center">
		<h4><%= link_to 'Contact', contact_path, class: "btn btn-primary btn-lg" %> -or- call <strong>877-REBOX-IT</strong> and speak with one of our packaging experts today!</h4>
	</div>

  <br/>
  
	<div class='well well-lg'>
		<table>
			<tr>
				<td width="300" valign="top">
					<h1>Total Impact</h1> How have companies using Eco ReBox made a difference in sustainability?
				</td>
				<td width="90" align="left" valign="top">
					<div class="topbumper"><%= image_tag 'res_trees.png', alt: 'trees', class: 'tree' %></div>
				</td>
				<td width="120" valign="top">
					<div class="topbumper"><span class="resource"><%= number_with_delimiter(@trees, delimiter: ',') %></span><br>
					<strong>trees saved</strong><br>
					<span class="resourcecomp">Enough to build more than <%= @houses %> large, single family homes!</span>
					</div>
				</td>
				<td width="80" align="center" valign="top">
					<div class="topbumper"><%= image_tag 'res_water.png', alt: 'water', class: 'water' %></div>
				</td>
				<td width="120" valign="top">
					<div class="topbumper"><span class="resource"><%= number_with_delimiter(@water, delimiter: ',') %></span><br>
					<strong>gallons of water conserved</strong><br>
					<span class="resourcecomp">Enough to fill <%= @pools %> average home swimming pools!</span>
					</div>
				</td>
				<td width="80" align="center" valign="top">
					<div class="topbumper"><%= image_tag 'res_energy.png', alt: 'electricity', class: 'power' %></div>
				</td>
				<td width="120" valign="top">
					<div class="topbumper"><span class="resource"><%= number_with_delimiter(@electricity, delimiter: ',') %></span><br>
					<strong>kWh saved</strong><br>
					<span class="resourcecomp">Enough to power <%= @homes %> American homes in a year!</span>
					</div>
				</td>
			</tr>
		</table>
	</div>

  <br/>

  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <%= image_tag '140_box.jpg', alt: 'boxes' %>
      <h2>It's the Green Box!</h2>
      <p>Eco ReBox boxes are quite literally, the green box. It's the choice of manufacturers, consumers, and sustainable shipping minded companies.</p>
      <p><%= link_to 'View details', reuse_path, class: 'btn' %></p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <%= image_tag '140_solutions.jpg', alt: 'solutions' %>
      <h2>Solutions For Business</h2>
      <p>Eco ReBox develops sustainable shipping solutions including a software service to track and manage shipping products.</p>
      <p><%= link_to 'View details', software_path, class: 'btn' %></p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <%= image_tag '140_resources.jpg', alt: 'resources' %>
      <h2>Resource Savings</h2>
      <p>In addition to solutions for shipping, we offer a variety of tools to help track resource savings based on our patent-pending methodology.</p>
      <p><%= link_to 'View details', resources_path, class: 'btn' %></p>
    </div>
  </div>

  <h1>Did you know...</h1>
  <p>352 million metric tons of paper and paperboard are consumed by the world annually?</p>
  <p>35% of the nation's municipal solid waste stream comes from paper and paperboard products.</p>
  <p>1,551 billion gallons of waste water are generated annually by U.S. pulp, paper, and paperboard manufacturers.</p>
  <p>14.58 million trees are consumed annually in the production of cardboard packaging for consumer goods (including flat screen TVs in North America, household appliances in the U.S., and laptops and computers worldwide). </p>
</div> <!--/.container marketing -->

<script>
  $('#myCarouselHome').carousel({
    interval: 7000
  });
  $('.nav-pills li a.first').addClass('active');
  $(".alert").delay(7000).fadeOut("slow").fadeIn("slow").fadeOut("slow", function() {
    $(".alert").remove();
  });
</script>