<% provide(:title, 'Welcome!') %>
<div class="container-narrow">
  <p>Welcome to Eco ReBox, the logistics industry leader with forward-thinking packaging, shipping and logistics solutions that influence the sustainability agenda.</p>
  <br/>
  <br/>
  <!-- resource savings-->
  <div class="row-fluid"> 
    <div class="span4" align="center">
      <%= image_tag 'ico_tree.png', alt: 'trees', class: 'resource_pic' %>
      <p class="text-info"><br><strong><%= @trees %></strong> saved</p>
    </div>
    <div class="span4" align="center">
      <%= image_tag 'ico_water.png', alt: 'water', class: 'resource_pic' %>
      <p class="text-info"><br><strong><%= @water %></strong> saved</p>
    </div>
    <div class="span4" align="center">
      <%= image_tag 'ico_power.png', alt: 'electricity', class: 'resource_pic' %>
      <p class="text-info"><br><strong><%= @electricity.html_safe %></strong> saved</p>
    </div>
  </div>

  <hr>
  <!-- story video / signup -->    
  <div class="row-fluid">
    <div class="span6">
      <div class="video-box" align="center">
        <h5>How does Eco ReBox help to save natural resources?</h5>
        <p><a href="#storyModal" role="button" class="btn btn-large" data-toggle="modal">
          <%= image_tag 'tmp_video_window.jpg', alt: 'video' %></a>
        </p>            
        <p><a href="#storyModal" role="button" class="btn btn-large" data-toggle="modal">View</a></p>
      </div>
      <%= render 'story' %>
    </div>
    <div class="span6">
      <div class="engage" align="center">
        <h5>Have an Eco ReBox? Want to learn more?</h5>
      </div>
      <%= render 'users/new' %>
    </div> <!--/.span6 -->
  </div> <!--/.row-fluid -->
    
  <div class="earth">  
    <div class="trackbox" align="center">
      <%= form_tag track_path, method: "get", class: 'form-search' do %>
        <%= text_field_tag :uid, '', placeholder: 'Track your Eco ReBox', class: 'span6 input-xlarge search-query' %>
        <%= submit_tag "Track", class: 'btn' %>
      <% end %>
    </div>
  </div> <!--/.earth -->
</div> <!--/.container-narrow -->


<!-- old logged out header options -->

<li><a href="#aboutModal" role="button" class="btn" data-toggle="modal">About</a>
  <!-- Modal -->
  <div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutModallLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="aboutModalLabel">About Eco ReBox</h3>
    </div>
    <div class="modal-body">
      <%= render 'pages/about' %>
    </div>
  </div>
</li>
<li><a href="#contactModal" role="button" class="btn" data-toggle="modal">Contact</a>
  <!-- Modal -->
  <div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModallLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="contactModalLabel">Contact Eco ReBox</h3>
    </div>
    <div class="modal-body">
      <%= render 'pages/contact' %>
    </div>
  </div>
</li>
<li><a href="#signinModal" role="button" class="btn" data-toggle="modal">Sign in?</a>
  <!-- Modal -->
  <div id="signinModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signinModallLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="signinModalLabel">Sign into ecorebox.com</h3>
    </div>
    <%= render 'sessions/signin' %>
  </div>
</li>