<% provide(:title, 'Tape') %>
<div class="jumbotron">
  <div class="container">
    <h1>Tape</h1>
    <p>ReThink. ReStore. ReUse.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <!-- <h3>Non Residue Security Tape</h3>
      <p>
        Security hidden messages will show up on the label surface if attempts are made at removal of tamper labels, but no residue adhesive remains on the articles, it also shows evidence of unauthorized entry.
      </p>
      <ul>
        <li>Designed to secure closures of packaging</li>
        <li>Locks in place yet lifts without a trace residue</li>
        <li>Ensuring no damage whatsoever to the product, packaging or surface</li>
        <li>Used for sealing the expensive surfaces or the reusable packaging</li>  
      </ul>
      <p>
        Applications include automobile doors, appliance, electronic devices, voting machines, hard drives, pharmaceutical packaging, aircraft seals, gift certificates, PDA , phone seals and any application where residue is an issue.
      </p> -->
      <h3>Tamper evident Security Tape</h3>
      <p>
        Provides a security seal for shipping cartons, envelopes, bags, or other containers. After applying and when later removed, the security tape will show tamper evidence by self destructing, leaving words (OPEN VOID) on the package and in the security tape itself.
      </p>
      <ul>
        <li>Protect your products & equipment.</li>
        <li>Red in color</li>
        <li>Control access to shipping cartons, pallets, and other containers</li>
        <li>Indicates tampering or pilfering</li>
      </ul>
      <%= image_tag 'security-tape.jpg', alt: 'security tape', class: 'img-responsive pull-left pad-right' %>
      <p><small>
        The surface must be clean & dry. If needed, clean the surface with 100% iso-propyl alcohol.
        <br>
        When applying tape, the minimum surface temperature is +40F.
        <br>
        Apply the security tape directly to the intended surface. Do not apply on top of other packing tape.
        <br>
        When sealing cartons, seal the opposing flaps on the top and extend the tape equal distance on each side of the box. Repeat this process for the bottom seam of the carton.
        <br>
        If the cartons have excess 'spring' in the flaps, after applying the security tape on the flaps, use standard carton sealing tape to seal the edges of the flaps to the side of the box. Other options are to glue or staple the flaps closed before applying the security tape. Repeat this process for the top and bottom of the carton.
        <br>
        Only apply security tape in a single layer. Do not apply security tape on top of other security tape.
        <br>
        On the recommended surfaces at 70F, the tamper evident feature should be functional within 1 minute of application. Other surfaces may require more curing time. If the tamper evident feature does not perform immediately, more curing time usually improves the performance of the tamper evident feature.
        <br>
        The various tape formulations we offer perform differently depending on the material surface and application conditions. We recommend testing tape samples under actual end-use conditions to confirm compatibility with your specific application. We offer free samples for testing.
      </small></p>

      <div class='clearfix'></div>
      <br><br>

      <%= image_tag 'security-tape-roll.jpg', alt: 'security tape roll', class: 'img-responsive pull-left pad-right' %>
      <p>
        Roll is 50m long, 60mm wide.
        <br>
        Perforated every 75mm.
        <br>
        667 pieces per roll at 60mm x 75mm.
        <br><br>
        <h4>$52.00 per roll (8&cent; per piece)</h4>
        <h4><%= link_to 'Contact us to Buy', contact_path, class: "btn btn-primary  btn-lg" %></h4>
      </p>

      <div class='clearfix'></div>

      <h3>Polyethylene Protective Skin</h3>
      <p>
        <em>Currently being used as a protective skin for our reusable boxes so shipping and tracking labels can be removed without leaving any residual glue from the skin or the shipping label.</em>
        <br>
        A 3mm high-tack protective tape with a polyethylene backing.
      </p>
      <ul>
        <li>Made in USA. Provides temporary protection of many light textured or low gloss surfaces.</li>
        <li>Non-UV applications requiring good clarity, low elongation, and good abrasion resistance.</li>
        <li>Clear in color.</li>
        <li>Automotive, Aerospace, HVAC, Appliance, Military, Government, Defense, Marine, Metal Finishing, Electronics, Recreational Vehicle, Construction, General Industrial.</li>
        <li>Surface protection during shearing, punching, cutting, shipping, manufacturing, die cutting, and processing.</li>
      </ul>
      <%= image_tag 'protective-skin.jpg', alt: 'protective skin', class: 'img-responsive pull-left pad-right' %>
      <p><small>
        The surface must be clean & dry. If needed, clean the surface with 100% iso-propyl alcohol.
      </small></p>

      <div class='clearfix'></div>

      <br><br>
      <%= image_tag 'protective-skin-roll.jpg', alt: 'protective skin roll', class: 'img-responsive pull-left pad-right' %>
      <p>
        Roll is 1000ft long, 9in wide.
        <br>
        Perforated every 7in.
        <br>
        1714 pieces per roll at 9in x 7in.
        <br><br>
        <h4>$171.00 per roll (under 6&cent; per skin)</h4>
        <h4><%= link_to 'Contact us to Buy', contact_path, class: "btn btn-primary  btn-lg" %></h4>
      </p>

      <div class='clearfix'></div>

    </div>

    <div class="col-sm-3 col-xs-12">
      <%= render 'sidebar' %>
    </div>

  </div>

</div>


<script type="text/javascript">
  $('.dropdown.fourth').addClass('active');
</script>