<div class='tab-pane' id='company_info'>
  <div class="span11">
    <%= form_for(@company) do |f| %>
      <%= render 'companies/fields', f: f %>
      <div class='span11'>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        <%= button_tag "Reset", type: :reset, class: "btn" %>
        <%= link_to "Add Company", new_company_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>