<%= render 'shared/error_messages', object: f.object %>
<div class='span3 well'>
  <%= f.label :name, "Name of Company" %>  
  <%= f.text_field :name %>

  <%= f.label :website, "Website (include http://)" %>
  <%= f.text_field :website %>

  <%= f.label :acquired %>
  <%= f.text_field :acquired %>
</div>
<div class='span7 well'>
  <div class='span3'>
    <%= f.label :about, "About (use HTML)" %>
    <%= f.text_area :about %>
  </div>
  <div class='span3'>
    <%= f.label :testimonial, "Testimonial (use HTML)" %>
    <%= f.text_area :testimonial %>
  </div>
</div>