<% provide(:title, "#{@company.name}") %>
<div class="jumbotron">
  <div class="container">
    <h1><%= @company.name %></h1>
    <p><%= raw @company.address %></p>
  </div>
</div>
<div class="container">
  <h3>Case Study</h3>
    <p><%= raw @company.about %></p>
  <h3>Total Resources Saved</h3>
  <p><%= @company.name %> has <%= pluralize(@current, 'box') %> from Eco ReBox.  They've been shipped <%= pluralize(number_with_delimiter(@trips), 'time') %>!</p>
  <p><%= raw "Their boxes have saved #{pluralize(number_with_delimiter(@company.trees), 'tree')}, #{pluralize(number_with_delimiter(@company.water), 'gallon')} of water, and #{number_with_delimiter(@company.electricity)} kW&#8226;h of electricity since they started using Eco ReBox products in #{@since.strftime('%B of %Y')}." %></p>
</div>



