<%= render 'shared/error_messages', object: f.object %>

<div class='field'>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'tf_blog' %>
</div>
<div class='field'>
  <%= f.label :summary, 'Summary (if blank, Content will just be summarized)' %>
  <%= f.text_field :summary, class: 'tf_blog2' %>
</div>
<div class='field'>
  <%= f.label :content %>
  <%= f.cktext_area :content, ckeditor: {} %>
</div>
<br/>
<div class='field'>
  <%= f.label :category_tokens, "Categories" %>
  <%= f.text_field :category_tokens, data: {load: @post.categories} %>
</div>