<% provide(:title, "#{@post.title}") %>
<div class="headercontent">
  <div class="hero-unit">
    <h1><%= @post.title %></h1>
    <% if @post.feed.id != 1 %>
    <p>&nbsp;&nbsp;&nbsp;from <%= @post.feed.url %></p>
    <% end %>
    <p><small>
      <% if @post.updated_at > @post.created_at %>
        updated <%= time_ago_in_words(@post.updated_at) %> ago
      <% else %>
        posted <%= time_ago_in_words(@post.created_at) %> ago
      <% end %>
    </small></p>
  </div>
  <div class="row">
    <div class="span10">
      <p><%= raw parse_links(@post.content) %></p>
    </div>
    <div class='span2'>
      <%= render @categories %>
    </div>
  </div>
  <% if signed_in? && current_user.admin? %>
    <%= link_to "Edit Post", edit_post_path %> | <%= link_to "Delete Post", @post, method: :delete, data: { confirm: "You're sure you want to DELETE the post '#{@post.title}'?" } %>
  <% end %>

</div>

<script>
  $('.nav-pills li a.blog').addClass('active');
</script>